body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	margin: 0px;
}

.menu {
	border: 7px yellow dotted;
	border-top: hidden;
	background-color: darkblue;
	text-align: center;
}

.menu a {
	font-size: 30px;
	text-decoration: none;
	color: white;
	text-shadow: 2px -3px black;
}

.bigbox {
	border: 7px yellow dotted;
	background-color: darkblue;
	text-align: left;
	margin-top: 25px;
}

.bigbox p {
	font-size: 15px;
	font-family: arial;
	padding-left: 40px;
}

#welcome {
	color: red;
	text-decoration: underline;
}

.TOC {
	border: 7px yellow dotted;
	background-color: darkblue;
	text-align: left;
	width: 200px;
	top: 100px ;
}