body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	margin: 0px;
}

.menu {
	border: 7px yellow dotted;
	border-top: hidden;
	background-color: darkblue;
	border-radius: 10px;
}

.menu a {
	font-size: 30px;
}